div {
    background-color: black;
    outline: 1px dotted rgb(224, 219, 219, 0.5);
    height: 20px;
    width: 20px;
}

.grid {
    background-color: blue;
    height: 400px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.preview-grid {
    height: 80px;
    width: 80px;
    display: flex;
    flex-wrap: wrap;
}

.preview-shape {
    height: 80px;
    width: 80px;
}

.block {
    box-sizing: border-box;
    border: 1px solid gray;

}

.block2 {
    background-color: purple;
    border: none;
    outline: none;
}

.block3 {
    background-color: green;
    outline: none;
    box-sizing: border-box;
    border-top: 1px dotted rgb(224, 219, 219, 0.5);
}

.lBlock{
    background-color: orange;
}

.zBlock{
    background-color: red;
}
.tBlock{
    background-color: purple;
}

.oBlock{
    background-color: yellow;
}

.iBlock{
    background-color: lightseagreen;
}

.sBlock{
    background-color: yellowgreen;
}

.jBlock{
    background-color: blue;
}
